* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #666;
}

body {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    color: white;
}

.left {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 10px;
    width: 25vw;

}

.right {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    width: 75vw;
    margin: 16px 0px;
    max-height: 900vh;
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 4px;
    padding-top: 14px;
}

.cross img {
    width: 25px;
    position: relative;
    left: 300px;
    bottom: 50px;
    display: none;
}

.heading {
    display: flex;
    width: 100%;
    padding: 14px 0px;
    font-weight: bold;
    position: relative;
    font-size: 20px;

}

.library {
    min-height: 90%;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 88.5%;
    gap: 3%;
    font-size: 13px;
    padding: 5% 7%;
}

.footer span {
    font-size: 25px;
}

.footer a {
    color: white;
}

.header {
    display: flex;
    position: relative;
    background: linear-gradient(to right, navy, skyblue);
    height: 10vh;
    border-radius: 5px;
}

.header span {
    position: relative;
    left: 30%;
    width: 50%;
}

.header>* {
    padding: 10px;
}

.menu {
    display: none;
    position: absolute;
    top: 2.5%;
    cursor: pointer;

}

.menu img {
    width: 200%;
}

.card:hover {
    transform: scale(1.03);
    transition: transform 0.7s ease;
    background-color: rgb(80, 79, 79);

}


.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
    gap: 10px;
    padding: 20px;
}

.box2 {
    position: relative;
    top: 33px;
}

.my-playlists * {
    border-radius: 5px;
    padding: 1%;

}

.my-playlists h1 {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding: 1%;
}

.cardcontainer {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    margin: 1%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;
    border-radius: 4px;

}

.right {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    height: 120vh;
}

.card {
    cursor: pointer;
    width: 15vw;
    line-height: 30px;
    letter-spacing: 1px;
    border-radius: 3%;
    background-color: #252525;
    transition: all 100ms ease-in-out;

}


.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 3%;
}

.playbar {
    position: fixed;
    top: 79vh;
    background-color: white;
    width: 69vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: invert(1);
    border-radius: 10px;
}

.playbar img {
    width: 35px;
}

.seekbar {
    cursor: pointer;
    position: fixed;
    top: 10vh;
    height: 0.1px;
    width: 97%;
    border: 3px solid black;
    border-radius: 2px;
    padding: 0;
}

.circle {
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 23px;
    position: relative;
    bottom: 0.9vh;
    padding: 4px;
    transition: left 0.5s;
}

.playpause {
    cursor: pointer;
    display: flex;
    width: 30%;
    position: fixed;
    left: 45%;
}

.volume {
    cursor: pointer;
    position: relative;
    left: 6vw;
}


.volume img {
    position: absolute;
    right: 8.6vw;
    top: 2px;
}

.range input {
    cursor: pointer;
}

.songslist {
    height: 75vh;
    overflow: auto;
    margin-bottom: 30px;
}

.songslist ul {
    padding: 0% 2%;
}

.songslist ul li {
    display: flex;
    padding: 2% 0%;
    gap: 2%;
    cursor: pointer;
    border: 2px solid white;
    margin: 2% 0%;
    border-radius: 10px;
}

.songslist img {
    width: 20%;
}

.playnow {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    font-size: medium;
}

.info {
    font-size: small;
}

.info div {
    word-break: break-all;
}

.songinfo {
    color: black;
    width: 38%;
    word-break: break-all;
}

.songtime {
    color: black;
    padding: 0 12px;
}


@media (max-width: 1300px) {
    .left {
        margin: -4%;
        position: fixed;
        transition: all 0.3s;
        left: -110%;
        z-index: 200;
        width: 350px;

    }

    .footer {
        position: fixed;
        top: 90%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(34, 34, 34);
        padding: 2% 7%;
        z-index: 1;
    }

    .seekbar {
        top: 13vh;
    }

    .cross img {
        display: block;
    }

    .my-playlists h1 {
        padding: 29% 7% 4%;
    }

    .header {
        height: 13vh;
        width: 100vw;
        position: fixed;
        z-index: 100;
    }

    .header span {
        position: relative;
        left: 20%;
        width: 60%;
    }

    .playbar {
        width: 95vw;
        height: auto;
        min-height: 190px;
        top: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        gap: 5px;
        position: fixed;
    }

    .songinfo {
        font-size: 13px;
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
        word-break: break-all;
    }

    .playpause {
        position: static;
        display: flex;
        justify-content: center;
        width: auto;
        margin: 5px 0;
    }

    .volume {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        width: auto;
    }

    .seekbar {
        bottom: 5px;
        top: auto;
        width: 95%;
        border: 2px solid black;
    }

    .volume img {
        width: 25px;
        position: static;
    }

    .range {
        width: auto;
    }

    .range input {
        position: static;
        width: 120px;
    }

    .songtime {
        position: static;
        width: auto;
    }

    .circle {
        bottom: 5.5px;
    }

    .menu {
        display: inline;
    }

    .menu img {
        position: fixed;
        top: 120%;
    }

    .right {
        width: 100%;
        margin: 0;
        max-height: 150rem;
    }

    .cardcontainer {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        align-items: center;
        padding-top: 6px;
        gap: 33px;
        padding-bottom: 200px;
    }

    .card {
        width: 80vw;
    }

    .card img {
        width: 98%;
    }
}

@media (max-width: 500px) {


    .cardcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        min-height: unset;

    }

    .right {
        height: 120rem;
    }

    .card {
        width: 80%;
    }

    .volume {
        position: static;
    }

    .range {
        position: static;
        width: auto;
    }

    .playbar {
        position: fixed;
        top: 63%;
    }
}

/* 1299 to 591 */
@media (max-width:1299px) and (min-width:591px) {

    .header {
        height: 7vh;
        width: 100vw;
    }

    .header span {
        position: relative;
        font-size: 25px;
        top: 25%;
        left: 20%;
        width: 80%;
        color: antiquewhite;
    }

    .menu img {
        width: 100px;
    }

    .left {
        margin: -1%;
    }

    .right {
        min-height: 275rem;
    }

    .cardcontainer {
        max-height: 275rem;
    }

    .card h2 {
        font-size: 30px;
    }

    .my-playlists h1 {
        padding: 25% 3% 2%;
    }

    .playbar {
        position: fixed;
        top: 72vh;
    }

    .volume img {
        /* Reset */
        position: static;
    }

    .range input {
        /* Reset */
        position: static;
        width: 150px;
    }

    .seekbar {
        top: 8vh;
    }

    .playpause {
        position: static;
        width: auto;
        transform: none;
    }

    .songtime {
        font-size: 30px;
        position: static;
        width: auto;
        margin: 10px 0;
    }

    .songinfo {
        font-size: 25px;
        width: 600px;
    }

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 40px;
    }

    .footer span {
        font-size: 40px;
    }
}

/* Responsive fixes for tablet view */
@media (max-width:1299px) and (min-width:591px) {
    .cardcontainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-height: unset;
        height: auto;
        padding-bottom: 250px;
    }

    .card {
        width: 45%;
    }

    .playbar {
        position: fixed;
        bottom: 11%;
        top: auto;
        width: 100%;
        left: 0;
        border-radius: 0;
        height: auto;
        padding: 10px 0;
        z-index: 99;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(34, 34, 34);
        padding: 2% 0;
        z-index: 100;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer span {
        font-size: 25px;
    }

    /* Adjust playpause to be centered vertically in the new playbar height */
    .playpause {
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Fix excess gaps and header height */
@media (max-width:1299px) and (min-width:591px) {
    .header {
        height: 15vh;
    }

    .right {
        min-height: 100vh;
        height: auto;
    }

    .playbar {
        height: 190px;
    }

    .my-playlists h1 {
        padding-top: 18vh;
    }

    .cardcontainer {
        padding-bottom: 250px;
    }
}