* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    padding: 10px;
    width: 25vw;
}

.right {
    width: 75vw;
    margin: 16px 0px;
    max-height: 900vh;
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 4px;
    padding-top: 14px;
}

.cross img {
    width: 25px;
    position: relative;
    left: 300px;
    bottom: 50px;
    display: none;
}

.heading {
    display: flex;
    width: 100%;
    padding: 14px 0px;
    font-weight: bold;
    position: relative;
    font-size: 20px;

}

.library {
    min-height: 90%;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 88.5%;
    gap: 3%;
    font-size: 13px;
    padding: 5% 7%;
}
.footer span{
    font-size: 25px;
}
.footer a {
    color: white;
}

.header {
    display: flex;
    position: relative;
    background-color: rgb(34, 34, 34);
    height: 10vh;
}

.header>* {
    padding: 10px;
}

.header button {
    cursor: pointer;
    background-color: transparent;
    color: grey;
    font-weight: bold;
    border: none;
    position: relative;
    left: 1000%;

}


.header .button {
    display: flex;
    gap: 95%;
}

.menu {
    display: none;
    position: absolute;
    top: 2.5%;
    cursor: pointer;

}

.menu img {
    width: 200%;
}

.card:hover {
    color: white;
    transition: all 500ms ease-in-out;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
    gap: 10px;
    padding: 20px;
}

.box2 {
    position: relative;
    top: 33px;
}

.my-playlists * {
    padding: 1%;

}

.my-playlists h1 {
    padding: 1%;
}

.cardcontainer {
    margin: 1%;
    display: flex;
    gap: 1%;
    flex-wrap: wrap;

}
.right{
    height: 120vh;
}
.card {
    cursor: pointer;
    width: 15vw;
    line-height: 30px;
    letter-spacing: 1px;
    border-radius: 3%;
    background-color: #252525;
    transition: all 100ms ease-in-out;

}

.card:hover {
    background-color: rgb(80, 79, 79);
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 3%;
}

.playbar {
    position: fixed;
    top: 79vh;
    background-color: white;
    width: 69vw;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: invert(1);
    border-radius: 10px;
}

.playbar img {
    width: 35px;
}

.seekbar {
    cursor: pointer;
    position: fixed;
    top: 10vh;
    height: 0.1px;
    width: 97%;
    border: 3px solid black;
    border-radius: 2px;
    padding: 0;
}

.circle {
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 23px;
    position: relative;
    bottom: 0.9vh;
    padding: 4px;
    transition: left 0.5s;
}

.playpause {
    cursor: pointer;
    display: flex;
    width: 30%;
    position: fixed;
    left: 45%;
}

.volume {
    cursor: pointer;
    position: relative;
    left: 6vw;
}


.volume img {
    position: absolute;
    right: 8.6vw;
    top: 2px;
}

.range input {
    cursor: pointer;
}

.songslist {
    height: 75vh;
    overflow: auto;
    margin-bottom: 30px;
}

.songslist ul {
    padding: 0% 2%;
}

.songslist ul li {
    display: flex;
    padding: 2% 0%;
    gap: 2%;
    cursor: pointer;
    border: 2px solid white;
    margin: 2% 0%;
    border-radius: 10px;
}

.songslist img {
    width: 20%;
}

.playnow {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    font-size: medium;
}

.info {
    font-size: small;
}

.info div {
    word-break: break-all;
}

.songinfo {
    color: black;
    width: 38%;
    word-break: break-all;
}

.songtime {
    color: black;
    padding: 0 12px;
}


@media (max-width: 1300px) {
    .left {
        margin: -4%;
        position: fixed;
        transition: all 0.3s;
        left: -110%;
        z-index: 1;
        width: 350px;

    }
.footer{
    position: fixed;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(34, 34, 34);
    padding: 2% 7%;
    z-index: 1;
}
    .seekbar {
        top: 13vh;
    }

    .cross img {
        display: block;
    }

    .my-playlists h1 {
        padding: 29% 7% 4%;
    }

    .header {
        width: 100vw;
        position: fixed;
    }

    .header button {
        left: 50vw;
    }

    .playbar {
        width: 95vw;
        height: 190px;
        top: 80vh;
        display: flex;
        flex-direction: column;

    }

    .songinfo {
        font-size: 13px;
        width: 300px;
        display: flex;
        justify-content: center;
        word-break: break-all;
    }

    .playpause {
        position: absolute;
        display: flex;
        justify-content: center;
        top: 5vh;
        left: 34%;
    }

    .volume {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
    }
    .seekbar{
        top: 135px;
    }

    .volume img {
        width: 30px;
        position: relative;
        right: 80px;
    }

    .range input {
        position: absolute;
        width: 300%;
        right: -55px;
        top: 13px;
    }

    .songtime {
        position: relative;
        bottom: 10%;
    }

    .circle {
        bottom: 5.5px;
    }

    .menu {
        display: inline;
    }

    .menu img {
        position: fixed;
        top: 120%;
    }

    .right {
        width: 100%;
        margin: 0;
        max-height: 150rem;
    }

    .cardcontainer {
        flex-direction: column;
        height: 250vh;
        align-items: center;
        padding-top: 6px;
        gap: 33px;
    }

    .card {
        width: 80vw;
    }

    .card img {
        width: 98%;
    }
}

@media (max-width: 500px) {


    .cardcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        min-height: 125rem;

    }

    .right {
        height: 120rem;
    }

    .card {
        width: 80%;
    }

    .volume {
        position: relative;
        left: 3px;
    }

    .range {
        position: relative;
        left: 6.5vw;
        bottom: 3px;
        width: 45px;
    }

    .playbar {
        position: fixed;
        top: 63%;
    }
}

/* 1299 to 591 */
@media (max-width:1299px) and (min-width:591px) {

    .header button{
        font-size: 40px;
    }
    .menu img{
        width: 100px;
    }
    .left {
        margin: -1%;
    }
    .right {
        min-height: 275rem;
    }

    .cardcontainer {
        max-height: 275rem;
    }
.card h2{
font-size: 30px;
}
    .my-playlists h1 {
        padding: 25% 3% 2%;
    }

    .playbar {
        position: fixed;
        top: 72vh;
    }

    .volume img {
        top: 20px;
        right: 9vh;
    }

    .range input {
        top: 35px;
        right: 50%;
    }

    .seekbar {
        top: 8vh;
    }

    .playpause {
        top: 75px;
        left: 30%;
    }

    .songtime {
        font-size: 30px;
        top: 10px;
        right: 40px;
    }

    .songinfo {
        font-size: 25px;
        width: 600px;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 40px;
    }
    .footer span{
        font-size: 40px;
    }   
}

